body {
  box-sizing: border-box;
  font-size: 20px;
}

.block {
  border: 1px solid #000;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #deddf1;
  overflow: auto;
  max-height: 800px;
}

.block-1 {
  border: 1px solid #000;
  max-width: 260px;
  padding: 50px;
  margin: 10px;
  border-radius: 30px;
  background: burlywood;
  display: inline-block;
  box-shadow: inset 1px 1px 5px #000, inset -1px -1px 5px #000;
}
